/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700

> 💎 [Upgrade to Pro](https://www.frontendmentor.io/pro?ref=style-guide) for design file access to see all design details and get hands-on experience using a professional workflow with tools like Figma.

*/

:root {
  --clr-primary-cyan: hsl(179, 62%, 43%);
  --clr-primary-bright-yellow: hsl(71, 73%, 54%);
  --clr-neutral-light-gray: hsl(204, 43%, 93%);
  --clr-neutral-grayish-blue: hsl(218, 22%, 67%);

  --ff-base: "Karla", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background: var(--clr-neutral-light-gray);
  font-family: var(--ff-base);
  color: #fff;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style-type: none;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  max-width: 19.4375rem;
  display: grid;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}

.card__community {
  background-color: #fff;
  padding: 1.75rem 1.38rem 2rem;
}

.card__community__title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--clr-primary-cyan);
  margin-bottom: 1.5rem;
}

.card__community__money-back {
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--clr-primary-bright-yellow);
  margin-bottom: 1rem;
}

.card__community__text {
  font-size: 0.875rem;
  color: var(--clr-neutral-grayish-blue);
}

.card__subscription {
  background-color: var(--clr-primary-cyan);
  padding: 1.25rem 1.25rem 1.5rem;
}

.card__subscription__title {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.card__subscription__price {
  display: flex;
  align-items: center;
  gap: 0.68rem;
  color: rgba(255, 255, 255, 0.6);
}

.card__subscription__dollar {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.card__subscription__text {
  margin-bottom: 1.7rem;
}

.card__subscription__btn {
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: var(--clr-primary-bright-yellow);
  border: none;
  border-radius: 0.5rem;
  font-weight: 700;
  padding: 0.8125rem;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.card__subscription__btn:hover {
  background-color: hsl(71, 59%, 50%);
}

.card__why-us {
  background-color: hsl(179, 63%, 47%);
  padding: 1.25rem;
}

.card__why-us__title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1.125rem;
}

.card__why-us__list {
  font-size: 0.875rem;
  line-height: 1.4;
}

/* Desktop */

@media (min-width: 40.625rem) {
  /* 650px */
  .card {
    max-width: 39.6875rem;
    grid-template-columns: 1fr 1fr;
    border-radius: 0.5rem;
  }

  .card__community,
  .card__subscription,
  .card__why-us {
    padding: 2rem;
  }

  .card__community {
    grid-column: span 2;
  }

  .card__community__title {
    font-size: 1.5rem;
  }

  .card__community__money-back {
    font-size: 1.125rem;
    margin-bottom: 0.6875rem;
  }

  .card__community__text {
    font-size: 1rem;
  }
}
